:root{
  --yellow: #FDB525;
  --blue: #091F40;
}



.section-transition {
  opacity: 1;
  transform: none;
}

body {
  padding-top: 3.5em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  background-color: #a2a2b5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1562832135-14a35d25edef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1245&q=80');
}

section, section.section {
  background-color: whitesmoke;
  max-width: 900px;
  margin: 0 auto 5.5em auto;
  border-radius: 6px;
  padding: 7em 3em 2em 3em;
  box-shadow: 3px 2px 3px #272957;
  /* opacity: 0; */
  transform: scale(1), translateY(4em);
}
@media (prefers-reduced-motion: no-preference) {
  .section {
    transition: opacity 1s ease, transform 1s ease;
  }
}
section .card-header {
  width: 275px;
  font-size: 16pt;
  margin-top: -111px;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  background-color: var(--blue);
  color: whitesmoke;
  text-align: center;
}

h1 {
  /* font-size: clamp(1.8rem, calc(1.9rem + ((1vw - 0.25rem) * 0.9421)), 9.6rem); */
  font-size: clamp(32px, calc(2rem + ((1vw - 4px) * 1.7308)), 50px);
}

.project {
  border: 1px solid #008bf8;
  margin-bottom: 1.5em;
  padding: 1em;
}

.skills-icons {
  display: flex;
  justify-content: space-between;
}

.fab {
  margin: 3px;
  color: var(--blue);
}

.fab:hover {
  color: #7092f7;
}

.links, .project-title {
  color: var(--blue);
  text-decoration: none;
}

.links:hover, .project-title:hover {
  color: #7092f7;
  cursor: pointer;
  text-decoration: underline;
}

ul.tags {
  list-style-type: none;
  padding-left: 0px;
}
ul.tags > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
}
li.badge {
  background-color: var(--blue);
  color: white;
  border: 1px solid black;
  padding: 5px 9px;
  border-radius: 19px;
  font-size: 9pt;
}

@media (max-width: 600px) {
  body {
    padding: 2.5em 0.7em;
  }
  section {
    padding: 7em 0.7em 2em 0.7em;
  }
  section .card-header {
    width: 200px;
    font-size: 12pt;
    margin-top: -125px;
    margin-left: auto;
    margin-right: auto;
  }
}

section.about p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #252525;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #252525;
}