.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45px auto auto;
    grid-gap: 22px;
    padding: 8px;
}

.grid-container>div {
    background-color: white;
    text-align: center;
    padding: 1 1;
    /* border: 2px solid; */
}

.item3 {}

div.item3 {
    text-align: center;
}

.item4 {
    background-color: #ccccff;
}