ul.navlinks {
    list-style-type: none;
    margin: 0;
    padding-left: 3em;
    overflow: hidden;
}

li {
    float: left;
}

li a,
a {
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}