.iconlink,
.links {
    list-style: none;
    display: inline-block;
}

#projects,
#about,
#contact {
    display: none;
}

.tablewrap {
    width: 76%;
    margin: 0 auto;
}

td {
    /*width: 20%;*/
    text-align: left;
}

#home,
#about,
#projects {
    max-width: 77%;
    margin: 0 auto;
    /*background-color: yellow;*/
}

td {
    vertical-align: baseline;
}

img {
    border-radius: 40%;
    width: 155px;
    height: auto;
}

.inputs {
    width: 15em;
}

.cm-card>.cm-card-footer {
    font-size: 1em;
}


#spreebtn:hover {
    background-color: blue;
    color: white;
}