:root{
  --yellow: #FDB525;
  --blue: #091F40;
}

body {
  background-attachment: fixed;
  color: var(--blue);
  padding: 2.5em;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230c259d' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section {
  background-color: whitesmoke;
  max-width: 900px;
  margin: 0 auto 1.5em auto;
  border-radius: 6px;
  padding: 2em 3em 2em 3em;
  box-shadow: 3px 2px 3px #272957;
}

h1 {
  /* font-size: clamp(1.8rem, calc(1.9rem + ((1vw - 0.25rem) * 0.9421)), 9.6rem); */
  font-size: clamp(32px, calc(2rem + ((1vw - 4px) * 1.7308)), 50px);
}

.project {
  border: 1px solid #008bf8;
  margin-bottom: 1.5em;
  padding:1em;
}

/* formspree */
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: tomato;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: var(--green2);
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--blue);
  outline-offset: -1px;
}

form [type='text'],
form [type='email'],
.StripeElement {
  width: 100%;
}

form [type='button'],
form [type='submit'],
form [type='reset'] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

form [type='button']:focus,
form [type='submit']:focus,
form [type='reset']:focus {
  outline: none;
}

form select {
  text-transform: none;
}

.fab {
  margin: 3px;
  color: var(--blue);
}

.fab:hover {
  color: #7092f7;
}

#resume {
  color: var(--blue);
}

#resume:hover {
  color: #7092f7;
  cursor: pointer;
  text-decoration: underline;
}

ul.tags {
  list-style-type: none;
  padding-left: 0px;
}
ul.tags > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
}
li.badge {
  background-color: var(--blue);
  color: white;
  border: 1px solid black;
  padding: 5px 9px;
  border-radius: 19px;
  font-size: 9pt;
}

@media (max-width: 600px) {
  body {
      padding: 1.25em;
  }
  section {
    padding: 1.5em;
  }
}