/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ede8e8; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
  width: 325px;
  height: 325px;
  border-radius: 12px;
}

  h5 {
    line-height: 2em;
  }
  #simonpic {
    height: 272px;
    width: auto;
  }
  #about {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    padding: 10px;
  }
  #simonlee {
    font-size: 4em;
  }
  #progressbars {
    display: none;
  }

  #hiddenprojects {
    display: none;
  }
  .projectlinks {
    background-color: lightgray;
  }
  #morebutton2 {
    margin-top: 55px;
  }
  #hide2 {
    margin-top: 30px;
  }
  #mylinks {
    width: 60%;
    margin: 0px auto;
  }
  #contactform {
    width: 60%;
    margin: 0px auto;
  }
  #myfooter {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: lightgray;
    margin: 0px auto;
    color: #000;
  }
  body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}