:root {
  --gray: #4d5358;
  --blue: #15202e;
  --purple1: #313050;
  --purple2: #5A5973;
}
body {
	animation: color-change 2.5s linear alternate both;
  color: white;
  padding: 2em;
}
@keyframes color-change {
  0% {
    background: var(--purple2);
  }

  100% {
    background: var(--purple1);
  }
}
.header {
  padding: 12px;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(2.3rem, 8vw, 8rem);
  text-align: center;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin-bottom: 6px;
}
h2#name {
  margin-bottom: 12px;
}
h2#title {
  font-size: clamp(1.7rem, 5vw, 5rem);
}

h2:hover {
  background-color: white;
  color: black;
}
.skills-zoom {
  margin: 3em 0;
}
.flex-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-tag {
  font-size: 10pt;
  background-color: #4d5358;
  list-style: none;
  padding: 12px 18px 8px 18px;
  border-radius: 20px;
  text-align: center;
  margin: 9px 6px;
}
.contacts {
  max-width: 768px;
  margin: 0 auto;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.feather {
  width: 34px;
  height: 34px;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather:hover {
  stroke: #90a2f3;
}

/* .projects {
  margin: 6em auto;
  max-width: 800px;
  text-align: center;
} */





section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


section .container {
  margin: 40px;
  padding-top: 3em;
}



section .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section .projects .project {
  margin: 22px 12px;
  border-radius: 20px;
  flex-grow: 1;
  padding-top: 25px;
  background: #00c2cb;
  width: 320px;
}

section .projects .project h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1.3s ease-in-out;
  /* animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}