* {
    box-sizing: border-box;
}
.hero {
    display: grid;
    place-items: center;
    height: 94vh;
}
.hero-child {
    text-align: center;
}
#profile-pic {
    margin: 4em 0;
}

body {
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}
p {
    font-size: 10.8pt;
    line-height: 1.4;
    letter-spacing: 1.33px;
}
.title-center {
    text-align: center;
}
main {
    padding: 0 0.3em;
}
div.section {
    padding-top: 3em;
    margin-bottom: 6em;
}
hr {
    border-bottom: 0.1px solid hsla(0, 9%, 77%, 0.774);
    width: 10%;
}
.card-gh {
    font-size: 13.5pt;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.card-gh:hover {
    color: tomato;
}
.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 100%;
    height: 172px;
    margin: 1.4%;
    padding: 11px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 2px 2px #b3adad;
}

a {
    text-decoration: none;
    color: #2e1ba3;
}
a:hover {
    text-decoration: underline;
    color: tomato;
}
table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
i {
    font-size: 66px;
    color: black;
}
i.fas.fa-arrow-down {
    font-size: 15pt;
    text-align: center;
    color: red;
}

li {
    margin-bottom: 1em;
    line-height: 22px;
    list-style-type: square;
}
img {
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}
.skills-flex-wrap {
    margin: 4em 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills-flex-wrap > i {
    margin: 20px;
}

.contact-icon i:hover {
    color: tomato;
}
@media screen and (min-width: 481px) {
    main {
        padding: 0 0.9em;
    }
}
@media screen and (min-width: 769px) {
    main {
        padding: 0 3em;
    }
    .card {
        max-width: 70%;
    }
    .about-text {
        padding: 0 5.8em;
    }
}
@media screen and (min-width: 1025px) {
    main {
        padding: 0 6em;
    }
    /* .card {
        width: 285px;
    } */
}
